#main-meals {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#new-meal {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: cadetblue;
  padding: 4px 4px 6px 4px;
}
.single-meal {
  padding: 10px;
  border: 1px solid black;
  margin: 15px 0;
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  ul {
    list-style: none;
  }
}

#meal-list {
  width: 100%;
}

#no-meals-message {
  margin: 20px;
}
